{% block content %}
<!DOCTYPE html>
<head>
   <title>CPM Web Server</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href={{ url_for('static', filename='main.css') }}>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
   <div class="container ">
      <div class="card text-center main-control">
         <div class="card-body">
            <form action="/" method="POST">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon1">Speed</span>
                  </div>
                  <input class="form-control" name="speed" value="{{ speed }}">
               </div>
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon1">Angle</span>
                  </div>
                  <input class="form-control" name="angle" value="{{ angle }}">
               </div>
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon1">Num of treatment</span>
                  </div>
                  <input class="form-control" name="num_treatment" value="{{ num_treatment }}">
               </div>
               <div class="form-group btn-center">
                  <button name="action" class="btn btn-lg btn-success" type="submit" value="treatment">treatment</button>
                  <button name="action" class="btn btn-lg btn-primary" type="submit" value="motorF">motorF</button>
                  <button name="action" class="btn btn-lg btn-primary" type="submit" value="motorB">motorB</button>
                  <button name="action" class="btn btn-lg btn-danger" type="submit" value="motorStop">motorStop</button>
               </div>
            </form>
         </div>
      </div>
   </div>

</body>
</html> 
{% endblock content %}    